In [ ]:
n = int(input())

result = 0

for i in range(1,n+1) :
  result += i

print(result)

5
15

In [ ]:
s = input()
print(s[::-1])

hello
olleh

In [ ]:
n = int(input())
nums = list(map(int,input().split()))
nums.sort()
print(nums)

# 리스트를 공백으로 풀서 출력
print(*nums)

# 정렬 역순
nums.sort(reverse=True)
print(nums)

5
1 5 3 2 4
[1, 2, 3, 4, 5]
1 2 3 4 5
[5, 4, 3, 2, 1]

In [ ]:
n = int(input())
nums = list(map(int, input().split()))

# 컴프리헨션
result = [x**2 for x in nums if x %2 == 0]
print(*result)

5
1 2 3 4 5
4 16

In [ ]:
print("=== 문제 1: 1부터 10까지의 제곱수 리스트 만들기 ===")
# 정답: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 여기에 코드를 작성하세요:
squares = [x**2 for x in range(1,11)]

print(f"결과: {squares}")
print()

=== 문제 1: 1부터 10까지의 제곱수 리스트 만들기 ===
결과: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
print("=== 문제 2: 1부터 20까지 중 짝수만 리스트로 만들기 ===")
# 정답: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# 여기에 코드를 작성하세요:
evens = [x for x in range(1,21) if x % 2 == 0]

print(f"결과: {evens}")
print()

=== 문제 2: 1부터 20까지 중 짝수만 리스트로 만들기 ===
결과: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
print("=== 문제 3: 문자열 리스트를 대문자로 변환 ===")
words = ["hello", "world", "python", "comprehension"]
# 정답: ['HELLO', 'WORLD', 'PYTHON', 'COMPREHENSION']

# 여기에 코드를 작성하세요:
upper_words = [words[x].upper() for x in range(len(words))]

print(f"결과: {upper_words}")
print()

=== 문제 3: 문자열 리스트를 대문자로 변환 ===
결과: ['HELLO', 'WORLD', 'PYTHON', 'COMPREHENSION']

In [ ]:
print("=== 문제 4: 2차원 리스트를 1차원으로 평탄화 ===")
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# 정답: [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 여기에 코드를 작성하세요:
flat = [num for row in matrix for num in row]

print(f"결과: {flat}")
print()

=== 문제 4: 2차원 리스트를 1차원으로 평탄화 ===
결과: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print("=== 문제 5: 1부터 30까지 중 3의 배수이지만 5의 배수가 아닌 수 ===")
# 정답: [3, 6, 9, 12, 18, 21, 24, 27]

# 여기에 코드를 작성하세요:
result = [x for x in range(1,31) if x % 3 == 0 and x % 5 != 0]

print(f"결과: {result}")
print()

=== 문제 5: 1부터 30까지 중 3의 배수이지만 5의 배수가 아닌 수 ===
결과: [3, 6, 9, 12, 18, 21, 24, 27]

In [ ]:
print("=== 문제 6: 문자열 리스트에서 길이가 5 이상인 것만 선택 ===")
fruits = ["apple", "kiwi", "banana", "pear", "grape", "watermelon"]
# 정답: ['apple', 'banana', 'grape', 'watermelon']

# 여기에 코드를 작성하세요:
long_fruits = [fruits[x] for x in range(len(fruits)) if len(fruits[x]) >= 5]

print(f"결과: {long_fruits}")
print()

=== 문제 6: 문자열 리스트에서 길이가 5 이상인 것만 선택 ===
결과: ['apple', 'banana', 'grape', 'watermelon']

In [ ]:
print("=== 문제 7: 1부터 5까지 숫자와 그 제곱을 딕셔너리로 ===")
# 정답: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# 여기에 코드를 작성하세요:
num_squares = {x: x**2 for x in range(1,6)}

print(f"결과: {num_squares}")
print()

=== 문제 7: 1부터 5까지 숫자와 그 제곱을 딕셔너리로 ===
결과: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
print("=== 문제 9: 딕셔너리의 키와 값을 바꾸기 ===")
original = {'a': 1, 'b': 2, 'c': 3}
# 정답: {1: 'a', 2: 'b', 3: 'c'}

# 여기에 코드를 작성하세요:
# .items() 는 (key, value) 쌍을 하나씩 반환해요.
swapped = {v:k for k,v in original.items()}

print(f"결과: {swapped}")
print()

=== 문제 9: 딕셔너리의 키와 값을 바꾸기 ===
결과: {1: 'a', 2: 'b', 3: 'c'}

In [ ]:
print("=== 문제 10: 1부터 10까지 숫자의 제곱을 셋으로 ===")
# 정답: {1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

# 여기에 코드를 작성하세요:
square_set = set(x**2 for x in range(1,11) )

print(f"결과: {square_set}")
print()

=== 문제 10: 1부터 10까지 숫자의 제곱을 셋으로 ===
결과: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
print("=== 문제 11: 구구단 2단부터 9단까지 딕셔너리로 만들기 ===")
# 정답: {2: [2, 4, 6, ..., 18], 3: [3, 6, 9, ..., 27], ...}

# 여기에 코드를 작성하세요:
gugudan = {i : [i*j for j in range(1,10)] for i in range(2,10)}

print(f"결과: {gugudan}")
print()

=== 문제 11: 구구단 2단부터 9단까지 딕셔너리로 만들기 ===
결과: {2: [2, 4, 6, 8, 10, 12, 14, 16, 18], 3: [3, 6, 9, 12, 15, 18, 21, 24, 27], 4: [4, 8, 12, 16, 20, 24, 28, 32, 36], 5: [5, 10, 15, 20, 25, 30, 35, 40, 45], 6: [6, 12, 18, 24, 30, 36, 42, 48, 54], 7: [7, 14, 21, 28, 35, 42, 49, 56, 63], 8: [8, 16, 24, 32, 40, 48, 56, 64, 72], 9: [9, 18, 27, 36, 45, 54, 63, 72, 81]}

In [ ]:
print("=== 문제 12: 좌표 평면에서 (x, y) 튜플 생성 (x, y는 0~2) ===")
# 정답: [(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

# 여기에 코드를 작성하세요:
coordinates = [(x,y) for x in range(3) for y in range(3)]

print(f"결과: {coordinates}")
print()

=== 문제 12: 좌표 평면에서 (x, y) 튜플 생성 (x, y는 0~2) ===
결과: [(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [ ]:
n = int(input())

for i in range(1,n+1) :
  if i % 2 == 0 :
    print(f'{i} Even')
  else :
    print(f'{i} Odd')

5
1 Odd
2 Even
3 Odd
4 Even
5 Odd

In [ ]:
n,m = map(int, input().split())
matrix = [list(map(int,input().split())) for _ in range(n)]
print(sum(sum(row) for row in matrix))

2 2
1 2
3 4
10

In [ ]:
# enumerate
# 리스트를 순회할 때 인덱스(위치)와 값을 동시에 가져오는 파이썬 내장 함수

fruits = ['apple', 'banana', 'cherry']

# enumerate 없이 - 인덱스를 직접 관리
for i in range(len(fruits)) :
  print(f'{i} : {fruits[i]}')

print('='*50)
# enumerate 사용 - 훨씬 간단!
for i, fruit in enumerate(fruits) :
  print(f'{i} : {fruit}')

0 : apple
1 : banana
2 : cherry
==================================================
0 : apple
1 : banana
2 : cherry

In [ ]:
fruits = ['apple', 'banana', 'cherry']

# 1부터 시작
for i, fruit in enumerate(fruits, start=1): # 시작 인덱스 변경 가능 1부터
    print(f"{i}. {fruit}")

1. apple
2. banana
3. cherry

In [ ]:
fruits = ['apple', 'banana', 'cherry']

# 인덱스와 값을 튜플로
indexed = [(i, fruit) for i, fruit in enumerate(fruits)]

print(indexed)

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [ ]:
# 짝수 인덱스만 선택
evens = [fruit for i, fruit in enumerate(fruits) if i % 2 == 0]
print(evens)

['apple', 'cherry']

In [ ]:
# 순위 매기기
scores = [95, 87, 92, 88]

for rank, score in enumerate(scores, start=1):
  print(f'{rank}등 : {score}')

1등 : 95
2등 : 87
3등 : 92
4등 : 88

In [ ]:
# 원본 리스트 수정할 때
numbers = [10, 20, 30, 40]
for i, num in enumerate(numbers):
  numbers[i] = num*2

print(numbers)

[20, 40, 60, 80]

In [ ]:
# 특정 위치의 값 찾기
fruits = ['apple', 'banana', 'cherry', 'banana']
banana_positions = [i for i, fruit in enumerate(fruits) if fruit == 'banana']
print(banana_positions)

[1, 3]

In [ ]:
n = int(input())
nums = list(map(int, input().split()))

max_val = -1
max_ind = -1

for i, v in enumerate(nums) :
  if v > max_val :
    max_val = v
    max_ind = i
print(max_ind, max_val)

5
1 6 3 2 9
4 9

In [ ]:
a_data = input().split()
b_data = input().split()

a_name, a_score = a_data[0], list(map(int, a_data[1:]))
b_name, b_score = b_data[0], list(map(int, b_data[1:]))

for a,b in zip(a_score, b_score) :
  print(a_name if a>b else b_name)

영희 80 60 90
영미 90 50 70
영미
영희
영희

In [ ]:
# zip은 여러 개의 리스트(또는 iterable)를 나란히 묶어주는 함수

names = ['철수', '영희', '민수']
ages = [25, 30, 28]

for name, age in zip(names, ages) :
  print(f'{name} : {age}\n')

철수 : 25

영희 : 30

민수 : 28

In [ ]:
names = ['철수', '영희']
ages = [25, 30]

result = list(zip(names, ages))
print(result)

[('철수', 25), ('영희', 30)]

In [ ]:
names = ['철수', '영희', '민수']
ages = [25, 30, 28]
cities = ['서울', '부산', '대구']

for name, age, city in zip(names, ages, cities):
  print(f'{name}님은 {age}살이고, {city}에 살아요')

철수님은 25살이고, 서울에 살아요
영희님은 30살이고, 부산에 살아요
민수님은 28살이고, 대구에 살아요

In [ ]:
# 길이가 다르면 ?

list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c']

result = list(zip(list1, list2))
print(result)
# 짧은 쪽에 맞춰짐! (4, 5는 버려짐)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
keys = ['이름', '나이', '도시']
values = ['철수', 25, '서울']

info = dict(zip(keys, values))
print(info)

{'이름': '철수', '나이': 25, '도시': '서울'}

In [ ]:
numbers1 = [1, 2, 3, 4]
numbers2 = [10, 20, 30, 40]

# 두 리스트의 합
sums = [a + b for a,b in zip(numbers1, numbers2)]
print(sums)

[11, 22, 33, 44]

In [ ]:
pairs = [(1, 'a'), (2, 'b'), (3, 'c')]

nums, letters = zip(*pairs)
print(nums)
print(letters)

(1, 2, 3)
('a', 'b', 'c')

In [ ]:
# 학생 성적 처리
students = ['철수', '영희', '민수']
korean = [90, 85, 88]
math = [85, 92, 90]
english = [88, 90, 85]

print("이름\t국어\t수학\t영어\t평균")
for name, kor, math, eng in zip(students, korean, math, english) :
  avg = (kor+math+eng) / 3
  print(f"{name}\t{kor}\t{math}\t{eng}\t{avg:.1f}")

이름	국어	수학	영어	평균
철수	90	85	88	87.7
영희	85	92	90	89.0
민수	88	90	85	87.7

In [ ]:
n = int(input())
arr = []

for _ in range(n) :
  command = input().split()
  if command[0] == 'append':
    arr.append(int(command[1]))
  elif command[0] == 'pop':
    arr.pop()
  elif command[0] == 'print':
    print(arr)

3
append 1
append 2
print
[1, 2]

In [ ]:
s = set([1,2,3])
s.add(4)
s.remove(2)
print(s)
print(2 in s)

{1, 3, 4}
False

In [ ]:
n = int(input())
words = set()

for i in range(n) :
  word = input()
  words.add(word)

print(words)

3
apple
apple
tomato
{'apple', 'tomato'}

In [ ]:
d = {'a':1, 'b':2}
d['c'] = 3

for k,v in d.items():
  print(k, v)

a 1
b 2
c 3

In [ ]:
n = int(input())

words = set(input().strip() for _ in range(n))
for w in sorted(words):
  print(w)

3
banana
banana
apple
apple
banana

In [ ]:
n = int(input())
d = {}

for _ in range(n):
  word = input().strip()
  d[word] = d.get(word,0) + 1 # dict.get(default) -> 키 없을 때 기본값 반환

for k,v in d.items():
  print(k,v)

5
apple
apple
kiwi
banana
banana
apple 2
kiwi 1
banana 2

In [ ]:
from collections import deque

dq = deque([1,2,3])
print(dq)

dq.append(4)
print(dq)

dq.appendleft(0)
print(dq)

dq.pop()
print(dq)

deque([1, 2, 3])
deque([1, 2, 3, 4])
deque([0, 1, 2, 3, 4])
deque([0, 1, 2, 3])

In [ ]:
from collections import deque

n = int(input())
q = deque()

for _ in range(n) :
  command = input().split()
  if command[0] == 'push':
    q.append(int(command[1]))
  elif command[0] == 'pop':
    print(q.popleft())

5
push 1
push 2
push 3
pop
1
pop
2

In [ ]:
from collections import Counter

c = Counter(['a','b','a','c','a'])
print(c)
print(c.most_common(1))
# most_common(n) → 가장 많이 나온 항목 n개를 (요소, 횟수) 형태의 리스트로 반환

Counter({'a': 3, 'b': 1, 'c': 1})
[('a', 3)]

In [ ]:
from collections import Counter

n = int(input())
nums = list(map(int,input().split()))

counter = Counter(nums)

print(counter.most_common(1)[0][0])

7
1 3 2 3 2 3 1
3

In [ ]:
arr = [3,1,2]
arr.sort()
print(arr)

arr.sort(reverse=True)
print(arr)

[1, 2, 3]
[3, 2, 1]

In [ ]:
arr = ['apple','kiwi','banana']
arr.sort()
print(arr)

arr.sort(key=len)
print(arr)

['apple', 'banana', 'kiwi']
['kiwi', 'apple', 'banana']

In [ ]:
n = int(input())
students = []

for i in range(n) :
  name, score = input().split()
  students.append((name, int(score))) # 튜플로 만들어서 리스트에 추가

students.sort(key=lambda x : x[1]) # 각 튜플에서 두 번째 값(즉, score)을 기준으로 정렬하겠다

for name, score in students :
  print(name, score)

3
Tom 50
Jerry 50
Anna 80
Tom 50
Jerry 50
Anna 80

In [ ]:
n = int(input())
data = []

for _ in range(n) :
  name, k, e, m = input().split()
  data.append((name,int(k),int(e),int(m)))

data.sort(key = lambda x: (-x[1], x[2], -x[3], x[0]))

for d in data :
  print(d[0])

4
민지 50 60 100
웅이 80 60 50
혁수 80 70 100
미주 50 60 90
웅이
혁수
민지
미주

In [ ]:
n = int(input())
words = [input().strip() for _ in range(n)]  # 그냥 문자열로 입력받기

words = list(set(words))  # 중복 제거
words.sort()              # 먼저 사전순 정렬
words.sort(key=len)       # 그 다음 길이순 정렬

for w in words:
    print(w)

5
but
i
wont
hesitate
no
i
no
but
wont
hesitate